<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Camera Client</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/DataTables/css/datatables.min.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">

    <style>
        @import url('https://fonts.googleapis.com/css?family=Merriweather');

        :root{
            --dasharray: 100;
            --dashoffset: 100;
            --dasharray-r: 100;
            --dashoffset-r: 100;
            --camera-fill: #D3D3D3;
            --path-fill: #D3D3D3;
            --path-fill-r: #D0CECE;
        }
        html {
            font-family: 'Merriweather', serif;
            font-size: 14px;
        }
        body {
            padding-top: 70px;
        }

        svg {
            display: block;
            width: 100%;
        }

        circle {
            stroke:#FFFFFF;
            fill:#dcdcdc;
            stroke-width:1.5;
            r:5;
        }
        rect{
            stroke: black;
            stroke-opacity: 0.1;
            fill: #D3D3D3;
            stroke-width: 0.1em;
        }
        text{
            display: none;
            fill: #005cbf;
            font-size: 1.5em;
        }
        /*path{*/
        /*    fill: none;*/
        /*    stroke: black;*/
        /*}*/
        rect[id^="Cam"]:hover + text{
            display: block;
        }
        iframe{
            width: 100%;
            height: 100%;
        }

        #locations .first.on{
            fill: #f8d7da;
            /*fill: #d1ecf1;*/
        }
        #locations .mid.on{
            fill: #dc3545;
        }
        #locations .last.on{
            fill: #721c24;
        }
        #cameras *.on {
            fill: var(--camera-fill);
        }

        .list-of-locations {
            margin: 0;
            padding: 0;
            columns: 100px auto;
            column-gap: 8px;
            list-style: none;
        }
        .list-of-locations li {
            padding: 2px 4px;
            display: inline-block;
            width: 100%;
        }
        .list-of-locations li.on {
            background: red;
            color: white;
            font-weight: bold;
        }

        #locations *, #room *:not(image){
            visibility: hidden;
        }

        #locations .path-dash {
            visibility: visible;
            fill: none;
            stroke: var(--path-fill); /* this must match the background color */
            stroke-dasharray: 20 15; /* draws a 10px dash line with a 16px gap between */
            stroke-width: 2; /* make the dashed line slightly bigger than the one it's covering */
        }

        #room .path-dash{
              visibility: visible;
              fill: none;
              stroke: var(--path-fill-r); /* this must match the background color */
              stroke-dasharray: 20 15; /* draws a 10px dash line with a 16px gap between */
              stroke-width: 2; /* make the dashed line slightly bigger than the one it's covering */
          }

        #locations .path-line{
            fill: none;
            stroke-dasharray: var(--dasharray);
            stroke-dashoffset: var(--dashoffset);
            stroke-width:1;
        }
        #room .path-line{
            fill: none;
            stroke-dasharray: var(--dasharray-r);
            stroke-dashoffset: var(--dashoffset-r);
            stroke-width:1;
        }

        #locations .path-line.draw{
            visibility: visible;
            -webkit-animation: dash 5s linear forwards;
            -webkit-animation-delay: 3s;
        }

        #room .path-line.draw{
            visibility: visible;
            -webkit-animation: dash-r 5s linear forwards;
            -webkit-animation-delay: 3s;
        }


        @keyframes dash {
            from {
                stroke: #a2aec7;
                stroke-dashoffset: var(--dashoffset);
            }
            to {
                stroke: #005cbf;
                stroke-dashoffset: 0;
            }
        }
        @keyframes dash-r {
            from {
                stroke: #20c997;
                stroke-dashoffset: var(--dashoffset-r);
            }
            to {
                stroke: #1c7430;
                stroke-dashoffset: 0;
            }
        }

        #locations circle.show, #room circle.show{
            visibility: visible;
            -webkit-animation: fade-in 3s linear forwards;
        }

        @keyframes fade-in {
            from{
                fill: #dc3545;
                opacity: 0;
            }
            to{
                opacity: 1;
            }


        }

    </style>
</head>

<body>


<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Pedestrian Surveillance</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Dashboard
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- Left Side -->
<div id="svgContainer2" class="container float-lg-left">
    <div class="row">
        <!-- Camera Frames -->
        <div class="container ">
            <h1>Camera Feed</h1>
            <div class="row">
                <div class="col">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=06-AZXmwHjo" title="Iframe Example"></iframe>
                </div>
                <div class="col">
                    <iframe class="embed-responsive-item"  src="http://youtube.com" title="Iframe Example"></iframe>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <iframe class="embed-responsive-item"  src="http://youtube.com" title="Iframe Example"></iframe>
                </div>
                <div class="col">
                    <iframe class="embed-responsive-item"  src="http://youtube.com" title="Iframe Example"></iframe>
                </div>
            </div>
        </div>
        <!-- Room Frame-->
        <svg viewBox="0 0 600 625" class="svg-locations">
            <title>Room Tracking</title>
            <!--    Room  -->
            <g id="room">
                <image href="/roomPlan.png" height="600" width="625"></image>
            </g>
        </svg>
    </div>

</div>

<!-- Right Side -->
<div id="svgContainer1" class="container float-lg-right">
    <div class="row">
        <!-- Pedestrians Table -->
        <div class="table-responsive">
            <select class="float-sm-right" name="persons" id="persons" onchange="queryFunction(this)" >
                <option value="" selected disabled>Select a Person</option>
            </select>
            <table id="transactions_table" class="table table-bordered table-secondary" cellspacing="0" width="100%"></table>
        </div>
        <!-- Localization Frames -->
        <svg viewBox="0 0 600 625" class="svg-locations">
            <title>Pedestrian Tracking</title>
            <!--    Cameras  -->
            <g id="cameras">
                <rect id="Cam106" x="0" y="30" width="300" height="200"/>
                <text x="0" y="25" >Camera 106</text>
                <rect id="Cam113" x="300" y="30" width="300" height="200"/>
                <text x="0" y="25" >Camera 113</text>
                <rect id="Cam115" x="0" y="230" width="300" height="200"/>
                <text x="0" y="25" >Camera 115</text>
                <rect id="Cam116" x="300" y="230" width="300" height="200"/>
                <text x="0" y="25" >Camera 116</text>
                <rect id="Cam117" x="0" y="430" width="300" height="200"/>
                <text x="0" y="25" >Camera 117</text>
                <rect id="Cam118" x="300" y="430" width="300" height="200"/>
                <text x="0" y="25" >Camera 118</text>
            </g>
            <g id="locations">
                <!--            <circle id="AL" cx="150" cy="20" fill="#D3D3D3" stroke="#FFFFFF" stroke-width="1.5"  r="5"/>-->
            </g>
        </svg>
        <ol class="list-of-locations">
            <!--        <li data-location="AL">Alabama</li>-->
        </ol>
    </div>
</div>


<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/static/vendor/DataTables/js/datatables.min.js"></script>
<script src="/static/vendor/DataTables/js/ellipsis.js"></script>
<script src='/node_modules/sql.js/dist/sql-wasm.js'></script>

<!--<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js">-->


<script>
    var camera_attr = document.querySelector("#cameras rect").attributes
    const width_camera = parseInt(camera_attr.width.value)
    var height_camera = parseInt(camera_attr.height.value)
    var width_padding = parseInt(camera_attr.x.value)
    var height_padding = parseInt(camera_attr.y.value)

    console.log("Attributes camera",width_camera,height_camera,width_padding,height_padding)

    function refreshGraph(){
        var camLocations = document.querySelectorAll("#cameras rect")
        var wordLocations = document.querySelectorAll(".list-of-locations li");
        var svgLocations = document.querySelectorAll("#locations > circle");

        console.log("wordLocations", wordLocations)
        console.log("svgLocations", svgLocations)

        function removeAllOn() {
            wordLocations.forEach(function(el) {
                el.classList.remove("on");
            });
            svgLocations.forEach(function(el) {
                el.classList.remove("on");
            });
            camLocations.forEach(function(el) {
                el.classList.remove("on");
            });
        }

        function addOnFromList(el) {
            var locationCode = el.getAttribute("data-location");
            console.log("Location code is ", locationCode)
            var svgLocations = document.querySelectorAll("[id^='" + locationCode + "']");
            console.log("SVG of locations",svgLocations)
            el.classList.add("on");
            svgLocations.forEach(function(person_location) {
                person_location.classList.add("on");
            });
        }

        function addOnFromLocation(el) {
            var locationId = el.getAttribute("id").substring(8,0)
            console.log("Location ID is ", locationId)
            var wordLocation = document.querySelector("[data-location^='" + locationId + "']");
            el.classList.add("on");
            wordLocation.classList.add("on");
        }

        wordLocations.forEach(function(el) {
            el.addEventListener("mouseenter", function() {
                addOnFromList(el);
            });
            el.addEventListener("mouseleave", function() {
                removeAllOn();
            });

            el.addEventListener("touchstart", function() {
                removeAllOn();
                addOnFromList(el);
            });
        });

        svgLocations.forEach(function(el) {
            el.addEventListener("mouseenter", function() {
                addOnFromLocation(el);
            });
            el.addEventListener("mouseleave", function() {
                removeAllOn();
            });

            el.addEventListener("touchstart", function() {
                removeAllOn();
                addOnFromLocation(el);
            });
        });

        camLocations.forEach(function(el) {
            el.addEventListener("mouseenter", function() {
                document.querySelector(`:root`).style.setProperty("--camera-fill","#F0F0F0")
                document.querySelector(`:root`).style.setProperty("--path-fill","transparent")
                el.classList.add("on");
            });
            el.addEventListener("mouseleave", function() {
                document.querySelector(`:root`).style.setProperty("--camera-fill","#D3D3D3")
                document.querySelector(`:root`).style.setProperty("--path-fill","#D3D3D3")
                removeAllOn();
            });

            el.addEventListener("touchstart", function() {
                document.querySelector(`:root`).style.setProperty("--camera-fill","#F0F0F0")
                document.querySelector(`:root`).style.setProperty("--path-fill","transparent")
                el.classList.add("on");
            });
        });
    }

    function queryFunction(selectPerson){
        var person = selectPerson.value
        console.log("Selected person",person)
        var circleLocations = document.querySelectorAll(`#locations circle, #room circle`)
        var pathLocations = document.querySelectorAll(`.path-line`)
        circleLocations.forEach(function(el) {
            el.classList.remove("show");
        });
        pathLocations.forEach(function(el) {
            el.classList.remove("draw");
        });


        function filterFunction() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("persons");
            filter = input.value.toUpperCase();
            table = document.getElementById("transactions_table");
            tr = table.getElementsByTagName("tr");
            console.log("Here",tr)
            console.log(tr[0])
            console.log(tr.length)
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        function animationFunction(){
            var circleLocations = document.querySelectorAll(`#locations circle[id^="${person}"], #room circle[id^="${person}"]`)
            console.log("Circles are",circleLocations)
            circleLocations.forEach(function(el) {
                el.classList.add("show");
            });

            var pathLocations = document.querySelectorAll(`.path-line[id^="${person}"]`)
            console.log("Path Locations are ",pathLocations,document.querySelectorAll("#locations path, #room path"))
            var lengthPath;
            pathLocations.forEach(function(el) {
                lengthPath = el.getTotalLength();
                document.querySelector(`#locations .path-line[id^="${person}"]`).style.setProperty("--dashoffset",lengthPath)
                document.querySelector(`#locations .path-line[id^="${person}"]`).style.setProperty("--dasharray",lengthPath)

                document.querySelector(`#room .path-line[id^="${person}"]`).style.setProperty("--dashoffset-r",lengthPath)
                document.querySelector(`#room .path-line[id^="${person}"]`).style.setProperty("--dasharray-r",lengthPath)
                console.log("Length path", lengthPath)
                el.classList.add("draw");
            });

        }

        filterFunction()
        animationFunction()
    }

    function initTable(response) {
        var transactions = [];

        for (i = 0; i < response.length; i++) {
            var person_id = response[i][0]
            var camera_id = response[i][2]
            var pos_x = response[i][3]
            var pos_y = response[i][4]
            //format date
            var options = {
                year: "numeric",
                month: "short",
                day: "numeric",
                hour: "2-digit",
                minute: "2-digit",
                second: "2-digit"
            };
            var date = new Date(response[i][1] * 1000);
            var formattedDateTime = date.toLocaleTimeString("en-us", options);

            application = [
                person_id,
                camera_id,
                formattedDateTime
            ];
            transactions.push(application);

            if (document.querySelectorAll(`#persons option[value="${person_id}"]`).length === 0) {
                console.log("Nope", person_id)
                $('#persons').append(`<option value="${person_id}">${person_id}</option>`);
            }
        }

        // Restrict a column to 10 characters, do split words
        $('#transactions_table').dataTable({
            "lengthChange": false,
            "searching": false,
            data: transactions,
            columns: [
                {title: "Person ID"},
                {title: "Camera"},
                {title: "Timestamp"}
            ],
            columnDefs: [
                {
                    targets: [1, 2],
                    render: $.fn.dataTable.render.ellipsis(25),
                    select: true,
                }
            ],
        });
    }

    function sortFunction(a, b) {
        if (a[1] === b[1]) {
            return 0;
        }
        else {
            return (a[1] < b[1]) ? -1 : 1;
        }
    }

    function normalizePosition(camera_num){
        switch (camera_num){
            case 106:
                return [width_padding, height_padding];
            case 113:
                return [width_padding + width_camera, height_padding];
            case 115:
                return [width_padding, height_padding  + height_camera];
            case 116:
                return [width_padding + width_camera, height_padding+ height_camera];
            case 117:
                return [width_padding , height_padding + 2*height_camera];
            case 118:
                return [width_padding + width_camera, height_padding+ 2*height_camera];
        }

    }

    function roomPath(person_id, j, x, y,filteredArray){
        let cams = []
        let coord = []
        filteredArray.forEach(function (locat){
            cams.push(locat[2])
        })

        let circleLocation
        for (let i = 0; i < cams.length; i++) {
            let helpersLocation
            switch (cams[i]){
                case 106:
                    circleLocation = [360, 200]
                    if (i < cams.length - 1){
                        switch (cams[i+1]){
                            case 118:
                            case 113:
                                helpersLocation = [220,240, 220,350]
                                break
                            case 115:
                                helpersLocation = [360,300]
                                break
                            case 116:
                                helpersLocation = [430,200]
                                break
                        }

                    }
                    break
                case 113:
                    circleLocation = [260, 400]
                    if (i < cams.length - 1){
                        switch (cams[i+1]){
                            case 106:
                                helpersLocation = [220,350, 220,240]
                                break
                            case 116:
                                helpersLocation = [330,335, 450,335]
                                break
                        }

                    }
                    break
                case 115:
                    circleLocation = [390, 390]
                    if (i < cams.length - 1){
                        switch (cams[i+1]){
                            case 106:
                                helpersLocation = [360,300]
                                break
                            case 117:
                            case 118:
                                helpersLocation = [260,340, 240,330]
                                break

                        }

                    }
                    break
                case 116:
                    circleLocation = [480, 290]
                    if (i < cams.length - 1){
                        switch (cams[i+1]){
                            case 106:
                            // case 117:
                                helpersLocation = [430,200]
                                break
                            case 113:
                                helpersLocation = [450,335, 330,335]
                                break
                            case 117:
                            case 118:
                                helpersLocation = [450,335, 330,335, 220,335 ]
                                break
                        }

                    }
                    break
                case 117:
                    circleLocation = [220,220]
                    if (i < cams.length - 1){
                        switch (cams[i+1]){
                            case 115:
                                helpersLocation = [240,330, 260,340]
                                break
                            case 116:
                                helpersLocation = [220,335, 330,335, 450,335]
                                break
                            case 118:
                                helpersLocation = [220,335]
                                break
                        }
                    }
                    break
                case 118:
                    circleLocation = [150, 350]
                    if (i < cams.length - 1){
                        switch (cams[i+1]){
                            case 106:
                                helpersLocation = [220,350, 220,240]
                                break
                            case 115:
                                helpersLocation = [240,330, 260,340]
                                break
                            case 116:
                                helpersLocation = [220,335, 330,335, 450,335]
                                break
                            case 117:
                                helpersLocation = [220,335]
                                break
                        }
                    }
                    break
            }
            coord.push(circleLocation)
            if (helpersLocation){coord.push(helpersLocation)}
            if (j === 0) {
                $('#room').append(`<circle class="first"  id="${person_id + "_Cam" + cams[i]}" cx="${circleLocation[0]}" cy="${circleLocation[1]}"/>`);

            } else if (j === filteredArray.length - 1) {
                $('#room').append(`<circle class="mid"  id="${person_id + "_Cam" + cams[i]}" cx="${circleLocation[0]}" cy="${circleLocation[1]}"/>`);

            } else {
                $('#room').append(`<circle class="last"  id="${person_id + "_Cam" + cams[i]}" cx="${circleLocation[0]}" cy="${circleLocation[1]}"/>`);

            }

        }
        coord = coord.join(", ")
        console.log("Room Coordinates are",cams,coord)

        $('#room').append(`<path class="path-line" id="${person_id+"_Room"}" d="${"M " + coord}" />`);
        // $('#room').append(`<path class="path-dash" id="${person_id+"_Room"}" d="${"M " + coord}" />`);

    }

    function initPath(response){
        console.log("Before sorting",response)
        response.sort(sortFunction)
        var seen = new Set
        var unique_response = response.filter(([value]) => !seen.has(value) && seen.add(value));
        console.log("Unique response",unique_response)

        for (i = 0; i < unique_response.length; i++) {
            var person_id = unique_response[i][0]

            var filteredArray = response.filter(item => item.indexOf(person_id) > -1);
            console.log("Filtered",person_id,filteredArray)

            // <circle id="DC" fill="#D3D3D3" stroke="#FFFFFF" stroke-width="1.5" cx="100" cy="20" r="5"/>
            for (j = 0; j < filteredArray.length; j++) {
                var camera_num = filteredArray[j][2]
                var adjustedPositions = normalizePosition(camera_num)
                // console.log("Adjusted position",adjustedPositions)
                var pos_x = filteredArray[j][3] + adjustedPositions[0]
                var pos_y = filteredArray[j][4] + adjustedPositions[1]


                // Add circle
                if (j === 0) {
                    roomPath(person_id, j, pos_x, pos_y,filteredArray)
                    $('#locations').append(`<circle class="first"  id="${person_id + "_Cam" + camera_num}" cx="${pos_x}" cy="${pos_y}"/>`);
                } else if (j === filteredArray.length - 1) {
                    $('#locations').append(`<circle class="last" id="${person_id + "_Cam" + camera_num}" cx="${pos_x}" cy="${pos_y}"></circle>`)
                } else {
                    $('#locations').append(`<circle class="mid" id="${person_id + "_Cam" + camera_num}" cx="${pos_x}" cy="${pos_y}"/>`);
                }
                // Add "current person" to list if not already there
                if (document.querySelectorAll(`.list-of-locations li[data-location="${person_id}"]`).length === 0) {
                    console.log("Not there", person_id)
                    $('.list-of-locations').append(`<li data-location="${person_id}">${person_id}</li>`);
                }
                // Add lines between locations
                if (j === 0){
                    let coord = []
                    filteredArray.forEach(function (locat){
                        // console.log("locats",locat[3],locat[4])
                        coord.push(locat[3]+normalizePosition(locat[2])[0],locat[4]+normalizePosition(locat[2])[1])
                    })
                    coord = coord.join(", ")
                    console.log("Coordinates are",coord)
                    $('#locations').append(`<path class="path-line" id="${person_id}" d="${"M " + coord}" />`);
                    $('#locations').append(`<path class="path-dash" id="${person_id}" d="${"M " + coord}" />`);

                }
            }
        }
        refreshContainer()
    }

    function refreshContainer(){
        // Refresh container
        $('#svgContainer1').html($('#svgContainer1').html());
        $('#svgContainer2').html($('#svgContainer2').html());

    }

    // Init Database, call functions, etc
    $(function() {
        var response;
        config = {
            locateFile: filename => `/node_modules/sql.js/dist/${filename}`
        }
        // The `initSqlJs` function is globally provided by all of the main dist files if loaded in the browser.
        // We must specify this locateFile function if we are loading a wasm file from anywhere other than the current html page's folder.
        initSqlJs(config).then(function (SQL) {
            //Create the database
            var db = new SQL.Database();
            // Execute a single SQL string that contains multiple locationments
            db.run("CREATE TABLE IF NOT EXISTS edge (person text not null,  ctime int, camera int, x int, y int);"); // Run the query without returning anything

            // db.run("INSERT INTO edge VALUES ('Person_1', 1092941466, 118, 100, 30);");
            // db.run("INSERT INTO edge VALUES ('Person_1', 1092941466, 106, 150, 100);");
            // db.run("INSERT INTO edge VALUES ('Person_1', 1092941466, 118, 100, 30);");
            // db.run("INSERT INTO edge VALUES ('Person_1', 1092941466, 113, 40, 40);");
            // db.run("INSERT INTO edge VALUES ('Person_1', 1092941466, 118, 100, 30);");
            // db.run("INSERT INTO edge VALUES ('Person_1', 1092941466, 115, 250, 100);");
            // db.run("INSERT INTO edge VALUES ('Person_1', 1092941466, 118, 100, 30);");
            // db.run("INSERT INTO edge VALUES ('Person_1', 1092941466, 116, 50, 120);");
            // db.run("INSERT INTO edge VALUES ('Person_1', 1092941466, 118, 100, 30);");
            // db.run("INSERT INTO edge VALUES ('Person_1', 1092941466, 117, 50, 120);");

            db.run("INSERT INTO edge VALUES ('Person_1', 1092941466, 106, 100, 30);");
            db.run("INSERT INTO edge VALUES ('Person_1', 1092944466, 115, 150, 100);");
            db.run("INSERT INTO edge VALUES ('Person_1', 1092948466, 113, 40, 40);");
            db.run("INSERT INTO edge VALUES ('Person_1', 1093000000, 115, 250, 100);");
            db.run("INSERT INTO edge VALUES ('Person_1', 1093100000, 116, 50, 120);");

            db.run("INSERT INTO edge VALUES ('Person_3', 1193000000, 113, 100, 100);");
            db.run("INSERT INTO edge VALUES ('Person_3', 1193100100, 117, 100, 100);");
            db.run("INSERT INTO edge VALUES ('Person_3', 1193944460, 106, 230, 190);");
            db.run("INSERT INTO edge VALUES ('Person_3', 1193954460, 113, 100, 100);");
            db.run("INSERT INTO edge VALUES ('Person_3', 1194054460, 116, 100, 100);");

            response = db.exec("SELECT * FROM edge")
            response = response[0]["values"]

            initTable(response)

            initPath(response)

            refreshGraph()

        })
    })

</script>

</body>

</html>
